<div class="container-xxl ">
    <!-- #region logo-->
    <div class="justify-content-start">
      <a href="/" class="navbar-nav navbar-brand text-dark text-decoration-none">
        <img src="~/img/littlelogo.png" alt="Alpha" width="50" height="50">
        <h1 class="fs-4 m-1 d-none d-lg-block">Alpha
        <br>
          <span 
          style="color: #e79c00;"
                    class="typewrite position-absolute fs-6" 
                    data-period="1000" 
                    data-type='["@Model.NH1","@Model.NH2","@Model.NH3"]'>
                    </span>
        </h1>
      </a>
    </div>
      <!-- #endregion -->
      <!-- #region orta-->
    <div class="collapse navbar-collapse d-none d-lg-block justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li id="orta" class="nav-item">
          <a class="nav-link fw-semibold" href="/">@Model.Home</a>
        </li>
        <li id="orta" class="nav-item">
              @{
              var culture = System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
              }
            <a asp-controller="Home"
            asp-action="About"
            asp-route-culture="@culture"
            class="nav-link fw-semibold">
            @Model.About
          </a>
        </li>
        <li id="orta" class="nav-item">
          <a asp-controller="Home"
            asp-action="Services"
            asp-route-culture="@culture"
            class="nav-link fw-semibold">
            @Model.Services
          </a>
        </li>
        <li id="orta" class="nav-item">
            <a asp-controller="Home"
            asp-action="Blog"
            asp-route-culture="@culture"
            class="nav-link fw-semibold">
            @Model.Blog
          </a>
        </li>
        <li id="orta" class="nav-item">
          <a asp-controller="Home" asp-action="Privacy" asp-route-culture="@culture" class="nav-link fw-semibold">@Model.Privacy</a>
        </li>
      </ul>
      <a asp-controller="Home" asp-route-culture="@culture" asp-action="Contact" style="border-radius: 0px;" class="btn btn-outline-e79c00  btn-lg fw-semibold ms-3">@Model.Contact</a>
    </div> 
    <!-- #endregion -->
    <!-- #giriş çıkış -->
    <div class="d-none d-lg-block">
      @await Component.InvokeAsync("LanguageSelector")
    </div>
     <!-- #endregion -->  
     <!-- #region buton -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
     <!-- #endregion -->  
     <!-- #region OffCanvas-->
     <div class="offcanvas offcanvas-end d-block d-lg-none" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header position-relative">
        <span type="button" class="btn-close position-absolute p-2 border border-light rounded-circle" data-bs-dismiss="offcanvas" aria-label="Close"></span> 
        <img src="~/img/biglogo.png" class="w-75 mx-5">    
      </div>
      <!-- Add Language Selector in Offcanvas -->
      <div class="offcanvas-body ">
          <ul class="nav nav-pills nav-justified flex-column flex-grow-1 pe-3">
              <li id="ofcanva" class="nav-item">
                  <a class="nav-link fw-semibold @(ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "active" : "")" href="/">@Model.Home</a>
              </li>
              <li id="ofcanva" class="nav-item">
               @{
                    var isActiveAbout = ViewContext.RouteData.Values["action"]?.ToString() == "About";
                }
                <a asp-controller="Home"
                  asp-action="About"
                  asp-route-culture="@culture"
                  class="nav-link @(isActiveAbout ? "active" : "")">
                    @Model.About
                </a>
              </li>
              <li id="ofcanva" class="nav-item">
                  @{
                    var isActive = string.Equals(ViewContext.RouteData.Values["action"]?.ToString(), "Services", StringComparison.OrdinalIgnoreCase);
                  }
                  <a asp-controller="Home"
                    asp-action="Services"
                    asp-route-culture="@culture"
                    class="nav-link fw-semibold @(isActive ? "active" : "")">
                    @Model.Services
                  </a>
              </li>
              <li id="ofcanva" class="nav-item">
                @{
                    var isActiveBlog = string.Equals(ViewContext.RouteData.Values["action"]?.ToString(), "Blog", StringComparison.OrdinalIgnoreCase);
                }
                <a asp-controller="Home"
                  asp-action="Blog"
                  asp-route-culture="@culture"
                  class="nav-link fw-semibold @(isActiveBlog ? "active" : "")">
                    @Model.Blog
                </a>
              </li>
              <li id="ofcanva" class="nav-item">
                  @{
                    var isActivePriv = string.Equals(ViewContext.RouteData.Values["action"]?.ToString(), "Blog", StringComparison.OrdinalIgnoreCase);
                }
                  <a asp-controller="Home" asp-action="Privacy" asp-route-culture="@culture"  class="nav-link fw-semibold @(isActivePriv ? "active" : "")">@Model.Privacy</a>
              </li>
              <li id="ofcanva" class="nav-item">
                @{var isActiveContact = ViewContext.RouteData.Values["action"]?.ToString() == "Contact";}
                  <a asp-controller="Home"
                    asp-action="Contact"
                    asp-route-culture="@culture"
                    class="nav-link @(isActiveContact ? "active" : "")">
                      @Model.Contact
                  </a>
              </li>
          </ul>
          <!-- Add Language Selector Below Menu -->
          <div class="mt-4 mx-auto d-flex justify-content-center">
              @await Component.InvokeAsync("LanguageSelector")
          </div>
      </div>

    </div>
     <!-- #endregion -->
</div>

