@model List<WebUI.ViewComponents.LanguageSwitchModel>

<select class="form-select" style="border-color: #e79c00;" onchange="switchLanguage(this.value)">
@foreach (var culture in Model)
{
    if (culture.IsSelected)
    {
        <option value="@culture.Url" selected data-culture="@culture.Culture">@culture.DisplayName</option>
    }
    else
    {
        <option value="@culture.Url" data-culture="@culture.Culture">@culture.DisplayName</option>
    }
}
</select>

<script>
function switchLanguage(url) {
    console.log('[Language Selector] Switching to:', url);
    
    // Get the culture from the selected option
    const select = event.target;
    const selectedOption = select.options[select.selectedIndex];
    const culture = selectedOption.getAttribute('data-culture');
    
    // Build full culture code for cookie
    const fullCulture = culture === 'tr' ? 'tr-TR' :
                       culture === 'en' ? 'en-US' :
                       culture === 'de' ? 'de-DE' :
                       culture === 'fr' ? 'fr-FR' :
                       culture === 'ar' ? 'ar-SA' : 'en-US';
    
    // Set the culture cookie
    document.cookie = ".AspNetCore.Culture=c=" + fullCulture + "|uic=" + fullCulture + "; path=/; SameSite=Lax";
    
    // Navigate to the localized URL
    window.location.href = url + window.location.search + window.location.hash;
}
</script>
